<div class="row">
	<div class="page-main">
		<section id="dashboard">
			<a class="sec-box" ng-href="#/dashboard">
				<h2>Dashboards</h2>
			</a>
		</section>

		<section id="deck">
			<a class="sec-box" ng-href="#/decks" ng-click="csm.setnav('decks')">
				<h2>Presentation Decks</h2>
			</a>
		</section>

		<section id="clients">
			<a class="sec-box" ng-href="#/clients">
				<h2>Clients</h2>
			</a>
		</section>

		<section id="csmteam">
			<a class="sec-box" ng-href="#/csmteam">
				<h2>CSM Automation Team</h2>
			</a>
		</section>

	</div>
</div>